/* font family */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navmanu  section start here  here */
.navmanu {
    width: 1200px;
    height: 50px;
    margin: 0px auto;
}

.navmanu ul {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 50px;

}

.navmanu li {
    list-style: none;
}

.navmanu li a {
    text-decoration: none;
    font-weight: 600;
}

.navmanu li a button {
    padding: 7px;
    font-weight: 400;
}

/* navmanu  section ends here  here */

/* developer-section-1-container stert here */

#developer-1-container {
    background-image: url("./imgs/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 500px;
    margin: 0px auto;
}

.developer-1-banner {
    height: 500px;
    width: 1100px;
    text-align: center;
    margin: 0px auto;
}

.developer-1-banner-font-imge img {
    width: 250px;
    height: 250px;
}

.developer-1-banner h1 {
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0px;
}

.developer-1-banner button {
    padding: 13px;
    border: none;
    color: #ffffff;
    font-weight: 200;
    border-radius: 5px;
    margin: 30px 0px;
    background-color: #0D1321;
}

/* developer-section-1-container ends here */

/* why-web-development section start here  */
#why-web-development {
    width: 1200px;
    height: 800px;
    margin: 0px auto;
    margin-bottom: 20px;
    background-color: #adc8f71f;

}

.why-web-developement {
    width: 800px;
    height: 100px;
    margin: 0px auto;
    text-align: center;
    padding: 50px;
}

.why-web-developement h1 {
    font-size: 35px;
    margin: 30p 0px;
}

.banner-button {
    padding: 5px 15px;
    margin: 20px 0px;
}


.why-web-developement p {
    font-size: 10px;
    margin: 20px 0px;

}

.codding-banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 200px;
    margin: 0px auto;
    margin-top: 25px;

}

.codding-banner-left h1 {
    font-size: 15px;
    text-align: left;
    line-height: 30px;
    color: #0D1321;
    font-weight: 600;

}

.codding-banner-left p {
    font-size: 10px;
    margin: 10px 0px;
}

.web-system {
    width: 800px;
    height: 200px;
    margin: 0px auto;
    display: flex;
    margin-top: 40px;
}

.web-system-left-imge {
    width: 30%;
    height: 100%;
}

.web-system-right-content {
    width: 70%;
    height: 100%;
    padding: 40px 0px 0px 60px;
}

.web-system-right-content h1 {
    font-size: 15px;
    line-height: 30px;
    color: #0D1321;

}

.web-system-right-content p {
    font-size: 10px;
    color: #0d1321c4;

}

/* why-web-development section ends here  */

/* my inspiration section start here */
#my-inspiration-section-container {
    width: 800px;
    height: 700px;
    margin: 0px auto;
}
.inspiration-content {
    height: 200;
    width: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}
.inspiration-content h1{
    font-size: 32px;
    font-weight: 900;
}

.inspiration-content p{
    font-size: 16px;
    color: #0d1321b5;
    margin: 30px 0px;
}
.inspiration-video{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.inspiration-video video{
    border-radius: 5px;
}


/* my inspiration section ends here */