/* font family */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navmanu  section start here  here */
.navmanu {
    width: 1200px;
    height: 50px;
    margin: 0px auto;
}

.navmanu ul {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 50px;

}

.navmanu li {
    list-style: none;
}

.navmanu li a {
    text-decoration: none;
    font-weight: 600;
}

.navmanu li a button {
    padding: 7px;
    font-weight: 400;
} 


/* navmanu  section ends here  here */

/* developer-section-1-container stert here */

#developer-1-container {
    background-image: url("./imgs/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 500px;
    margin: 0px auto;
}

.developer-1-banner {
    height: 500px;
    width: 1100px;
    text-align: center;
    margin: 0px auto;
}

.developer-1-banner-font-imge img {
    width: 250px;
    height: 250px;
}

.developer-1-banner h1 {
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0px;
}
.contact-btm  {
    margin-top: 50px;
}

.contact-btm a {
    padding: 20px;
    border: none;
    color: #ffffff;
    font-weight: 200;
    border-radius: 5px;
    margin: 30px 0px;
    background-color: #0D1321;
    text-decoration: none;
    margin: 40px 0px;
    font-weight: 600;
}

/* developer-section-1-container ends here */

/* why-web-development section start here  */
#why-web-development {
    width: 1200px;
    height: 800px;
    margin: 0px auto;
    margin-bottom: 20px;
    background-color: #adc8f71f;

}

.why-web-developement {
    width: 800px;
    height: 100px;
    margin: 0px auto;
    text-align: center;
    padding: 50px;
}

.why-web-developement h1 {
    font-size: 35px;
    margin: 30p 0px;
}

.banner-button {
    padding: 5px 15px;
    margin: 20px 0px;
}


.why-web-developement p {
    font-size: 10px;
    margin: 20px 0px;

}

.codding-banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 200px;
    margin: 0px auto;
    margin-top: 25px;

}

.codding-banner-left h1 {
    font-size: 15px;
    text-align: left;
    line-height: 30px;
    color: #0D1321;
    font-weight: 600;

}

.codding-banner-left p {
    font-size: 10px;
    margin: 10px 0px;
}

.web-system {
    width: 800px;
    height: 200px;
    margin: 0px auto;
    display: flex;
    margin-top: 40px;
}

.web-system-left-imge {
    width: 30%;
    height: 100%;
}

.web-system-right-content {
    width: 70%;
    height: 100%;
    padding: 40px 0px 0px 60px;
}

.web-system-right-content h1 {
    font-size: 15px;
    line-height: 30px;
    color: #0D1321;

}

.web-system-right-content p {
    font-size: 10px;
    color: #0d1321c4;

}

/* why-web-development section ends here  */

/* my inspiration section start here */
#my-inspiration-section-container {
    width: 1200px;
    height: 650px;
    margin: 0px auto;
}

.inspiration-content {
    height: 200;
    width: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

.inspiration-content h1 {
    font-size: 32px;
    font-weight: 900;
}

.inspiration-content p {
    font-size: 16px;
    color: #0d1321b5;
    margin: 30px 0px;
}

.inspiration-video {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border: 1px solid #0d132139;
    padding: 30px 0px;
    border-radius: 5px;
    margin: 0px auto;
}

.inspiration-video video {
    border-radius: 5px;
}

/* my inspiration section ends here */

/* my-target section start here */
#my-current-target-container {
    height: 500px;
    width: 1200px;
    margin: 0px auto;
}

.my-target-content {
    width: 600px;
    height: 160px;
    margin: 0px auto;
    text-align: center;
}

.my-target-content h1 {
    font-size: 30px;
    font-weight: 900;
    margin: 30px 0px;
}

.my-target-content p {
    font-size: 16px;
    color: #0d132189;
}

.my-target-content-box {
    width: 800px;
    height: 300px;
    margin: 0px auto;
    display: flex;
    gap: 20px;
}

.content-box-html {
    background-color: #ff4b1e22;
    width: 33%;
    height: 90%;
    border-radius: 10px;
}

.content-box-css {
    background-color: #004de862;
    width: 33%;
    height: 90%;
    border-radius: 10px;
}

.content-box-js {
    background-color: #ffdd0037;
    width: 33%;
    height: 90%;
    border-radius: 10px;
}

.box-icon {
    margin: 20px 20px;
}

.box-text {
    width: 100%;
    height: 70px;
    padding: 10px;
}

.box-text h1 {
    color: #0D1321;
    font-size: 24px;
    margin: 10px 0px;
}

.box-text p {
    font-size: 13px;
    color: #0d132175;
}

.link {
    margin: 40px 0px;
    padding: 10px;
}

.link a {
    font-size: 15px;
    font-weight: bold;
    color: #0D1321;
}

/* my-target section ends here */

/* support-section-start here  */
#support-section-container {
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    background-image: url("./imgs/handshake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 20px;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.521);
    align-items: center;
    display: flex;

}

.support-content {
    width: 800px;
    height: 200px;
    margin: 0px auto;
    text-align: center;

}

.support-title h1 {
    font-size: 32px;
    font-weight: 900;
    color: #ffffff;
    margin: 10px 0px;

}

.support-title p {
    font-size: 16px;
    color: #ffffff7d;
    margin-bottom: 20px;
}

.support-content input[type="text"] {
    width: 40%;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
}

.support-content input[type="submit"] {
    width: 130px;
    height: 48px;
    padding: 10px;
    font-weight: 900;
    border-radius: 5px;
}
/* support-section-ends here  */

/* footer-section-container start */
.footer-section-container{
    width: 1200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    margin: 0px auto;
    margin-bottom: 10px;
    background-color: #004de81a;
}
.footer-left-content p{
    font-size: 15px;
    font-weight: 900;
}



.footer-right-content ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* footer-section-container ends */
